# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual Environments
venv/
env/
.env/

# Data files
*.npy
*.npz
*.pt
*.pth
*.pptx

# Large model binaries
*.h5
*.model

# Windows thumbnails
Thumbs.db

# VS Code settings
.vscode/

# Specific version/temp file found in root
12.0.1

#LaTeX Build Artifacts
decision_focused_bike_rebalancing.aux
decision_focused_bike_rebalancing.fdb_latexmk
decision_focused_bike_rebalancing.fls
decision_focused_bike_rebalancing.out
decision_focused_bike_rebalancing.synctex.gz
decision_focused_bike_rebalancing.log
decision_focused_bike_rebalancing.bbl
decision_focused_bike_rebalancing.blg